<aside class="user-panel">
    <div class="user-panel__inner">
        <form class="user-form" action="#">
            <div class="user-panel__wrapper">
                <div class="user-panel__img">
                    <img src="assets/img/aside/user-big.jpg" alt="user foto">
                </div>  
                <div class="user-panel__location-img">
                    <img src="assets/img/aside/coat-of-arms/Moscow.png" alt="sword">
                </div>
                <div class="user-panel__btns-wrapper">
                    <label class="user-panel__avatar">
                        <input type="file">
                        Выбрать аватар
                    </label>
                    <button type="button" class="user-panel__town">
                        Выбрать город
                    </button>
                </div>
            </div>    
            <input type="text" placeholder="Логин">
            <input type="password" placeholder="Пароль">
            <input type="email" placeholder="Почта">
            <button class="user-form__btn btn"  type="submit">Отправить</button>
        </form>
        <div class="score">
            <span class="score__title">Количество пройденных заданий:</span>
            <span class="score__count">7</span>
        </div>
        <div class="score">
            <span class="score__title">Количество выученных дат:</span>
            <span class="score__count">94</span>
        </div>
        <div class="score scroll">
            <span class="score__title">Общий рейтинг:</span>
            <span class="score__count">107</span>
        </div>
        <button class="user-panel__btn" type="button">
            <img class="user-panel__open" src="assets/img/aside/coat-of-arms/Moscow.png" alt="sword">
        </button>
        <button type="button" class="user-panel__close-btn">
           +
        </button>
    </div><!--user-panel__inner-->
</aside>