<section class="blog" id="blog">
    <div class="container">

        <div class="section-title">
            <h2>
                Новости
            </h2>
            <!-- <img src="assets/img/blog/news.svg" alt=""> -->
        </div>
       
       

        <div class="blog__wrapper ">
            <div class="tab-btns">
                <span class="tab-btn jsTabBtn active" data-tab="1">Блог</span>
                <span class="tab-btn jsTabBtn " data-tab="2">Тесты</span>
            </div>

            <div class="posts jsTabContent active" data-tab="1" >
                <ul class="tegs">
                    <li class="tegs__description">Поиск по меткам</li>
                    <li class="tegs__btn">Оружие</li>
                    <li class="tegs__btn">Археология</li>
                    <li class="tegs__btn">ЕГЭ</li>
                    <li class="tegs__btn">Империя</li>
                    <li class="tegs__btn">Русское царство</li>
                    <li class="tegs__btn">Youtube</li>
                    <li class="tegs__btn">Княжества</li>
                    <li class="tegs__btn">Федерация</li>
                    <li class="tegs__btn">Изменения в датах</li>
                    <!-- <li class="tegs__btn">Еще</li>
                    <li class="tegs__btn">Еще</li>
                    <li class="tegs__btn">Еще</li>
                    <li class="tegs__btn">Еще</li>
                    <li class="tegs__btn">Еще</li>
                    <li class="tegs__btn">Еще</li>
                    <li class="tegs__btn">Еще</li> -->
                    <li class="tegs__show-more">Показать еще теги</li>
                </ul>
               
                <article class="post">
                    <div class="post__header">
                        <a href="post.html">
                            <img class="post__preview" src="assets/img/blog/post-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="post__content">
                        <h3 class="post__title">
                            Варяги, прибывшие до 862 года
                        </h3>
                        <p class="post__description">
                            Раскопки в Гнёздово ведутся с 1867 года. Это крупнейший в России 
                            и хорошо изученный памятник эпохи викингов. Традиционно время 
                            существования древнего поселения историки относили к X - началу 
                            XI веков......
                        </p>
                    </div>
                    <div class="post__footer">
                        <ul class="post__list post-date">
                            <li class="post-date__item">
                                <time class="post-date__time" datetime="2018-02-01 17:22">
                                    01.02.2018 
                                </time>
                            </li>
                            <li class="post-date__item">
                                <a href="#">
                                    Древнерусское государство
                                </a>
                            </li>
                        </ul>
                        <a href="post.html" class="post__link btn">
                            Подробнее
                        </a>
                    </div>
                </article>

                <article class="post">
                    <div class="post__header">
                        <a href="post.html">
                            <img class="post__preview" src="assets/img/blog/post-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="post__content">
                        <h3 class="post__title">
                            Секретное оружие Византии
                        </h3>
                        <p class="post__description">
                            В конце VII века нашей эры Византийская империя по-прежнему 
                            оставалась величественным государством. Но постепенно теряла 
                            свои территории, находясь в кольце врагов. Большую опасность 
                            для империи представляли арабы.....
                    </div>
                    <div class="post__footer">
                        <ul class="post__list post-date">
                            <li class="post-date__item">
                                <time class="post-date__time" datetime="2018-02-01 17:22">
                                    01.02.2018 
                                </time>
                            </li>
                            <li class="post-date__item">
                                <a href="#">
                                    Средневековое оружие
                                </a>
                            </li>
                        </ul>
                        <a href="post.html" class="post__link btn">
                            Подробнее
                        </a>
                    </div>
                </article>

                <article class="post post_video">
                    <div class="post__header">
                        <div class="embed">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/h5WsuuYfRgA" 
                            title="YouTube video player" allow="accelerometer; 
                            clipboard-write; encrypted-media; gyroscope; 
                            picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="post__content">
                        <h3 class="post__title">
                            Факты о Петре 1 (алфавит)
                        </h3>
                    </div>
                    <div class="post__footer">
                        <ul class="post__list post-date">
                            <li class="post-date__item">
                                <time class="post-date__time" datetime="2018-02-01 17:22">
                                    01.02.2018 
                                </time>
                            </li>
                            <li class="post-date__item">
                                <a href="#">
                                    Youtube
                                </a>
                            </li>
                        </ul>
                        <a href="post.html" class="post__link btn">
                            Комментарии
                        </a>
                    </div>
                </article>

                <article class="post">
                    <div class="post__header">
                        <a href="post.html">
                            <img class="post__preview" src="assets/img/blog/post-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="post__content">
                        <h3 class="post__title">
                            Изменения в ЕГЭ
                        </h3>
                        <p class="post__description">
                            ЕГЭ по истории в 2022 г. претерпел существенные изменения. 
                            Исключены многие задания. Например, историческое сочинение 
                            (задание 25 по нумерации 2021 г.). При этом стоит отметить, 
                            что введены и новые модели заданий.
                        </p>
                        <p class="post__description">
                            Общее время выполнения работы сокращено с 235 до 180 а).
                        </p>
                        <p class="post__description">
                            В первой части с кратким ответом теперь 11 заданий вместо 19.....
                        </p>
                    </div>
                    <div class="post__footer">
                        <ul class="post__list post-date">
                            <li class="post-date__item">
                                <time class="post-date__time" datetime="2018-02-01 17:22">
                                    01.02.2018 
                                </time>
                            </li>
                            <li class="post-date__item">
                                <a href="#">
                                    ЕГЭ
                                </a>
                            </li>
                        </ul>
                        <a href="post.html" class="post__link btn">
                            Подробнее
                        </a>
                    </div>
                </article>

                <div class="pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">Назад</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">1</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">2</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link active" href="#">3</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">4</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">5</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">Вперед</a>
                        </li>
                    </ul>
                </div>

            </div> <!--posts-->
           
            <div class="tests jsTabContent one" data-tab="2" >

                <div class="tests__item">
                    <h4 class="tests__title">
                        Даты
                        <span class="tests__arrow"></span>
                    </h4>
                    <ul class="tests__list">
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Древнерусское государство</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Феодальная раздробленность</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Русское царство</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Российская империя</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Советский союз</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Российская федерация</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Даты мировой истории</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                    </ul>
                </div>

                <div class="tests__item">
                    <h4 class="tests__title">
                        Биографии
                        <span class="tests__arrow"></span>
                    </h4>
                    <ul class="tests__list">
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Рюриковичи</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Романовы</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Мировая история</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                    </ul>
                </div>

                <div class="tests__item">
                    <h4 class="tests__title">
                        Эрудит
                        <span class="tests__arrow"></span>
                    </h4>
                    <ul class="tests__list">
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Проверь свои знания</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                    </ul>
                </div>

                <div class="tests__item">
                    <h4 class="tests__title">
                        Архаизмы
                        <span class="tests__arrow"></span>
                    </h4>
                    <ul class="tests__list">
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Слова, вышедшие из обихода (в ЕГЭ пригодится)</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                    </ul>
                </div>

                <div class="tests__item">
                    <h4 class="tests__title">
                        Столицы
                        <span class="tests__arrow"></span>
                    </h4>
                    <ul class="tests__list">
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Угадай столицу по названию страны</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Угадай страну по названию столицы</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                    </ul>
                </div>

                <div class="tests__item">
                    <h4 class="tests__title">
                        Цитаты
                        <span class="tests__arrow"></span>
                    </h4>
                    <ul class="tests__list">
                        <li class="tests__list-item">
                            <a href="test.html" class="tests__list-link">Великие цитаты великих людей</a>
                            <img class="tests__list-img" src="assets/img/blog/arrow.svg" alt="arrow">
                        </li>
                    </ul>
                </div>

                <a href="test.html" class="tests__item tests__item_link">
                    <div class="tests__item_link-info">
                        <h3 class="tests__item_link-title">
                            Все тесты
                        </h3>
                    <span class="tests__item_link-text btn">
                        Перейти
                        </span>
                    </div>
                    <div class="tests__item_link-img">
                        <img src="assets/img/blog/tests-all.jpg" alt="events">
                    </div>
                </a>
               
            </div><!--tests-->

            <div class="stories vidgets">

                <div class="stories__item">
                    <img src="assets/img/blog/news.jpg" alt="" class="stories__preview">  
                    <h4 class="stories__title">
                        Новости канала
                    </h4>
                    <time class="stories__date" datetime="2017-12-17 17:22">
                        17.12.2017 
                    </time>
                </div>
    
                <div class="stories__item">
                    <img src="assets/img/blog/test.jpg" alt="" class="stories__preview">  
                    <h4 class="stories__title">
                        Запуск новых тестеров
                    </h4>
                    <time class="stories__date" datetime="2017-12-30 17:22">
                        30.12.2017 
                    </time>
                </div>
    
                <div class="stories__item">
                    <img src="assets/img/blog/questions.jpg" alt="" class="stories__preview">  
                    <h4 class="stories__title">
                        Ответы на вопросы
                    </h4>
                    <time class="stories__date" datetime="2018-01-15 17:22">
                        15.01.2018 
                    </time>
                </div>
    
                <div class="stories__item">
                    <img src="assets/img/blog/alien.jpg" alt="" class="stories__preview">  
                    <h4 class="stories__title">
                        Теории, заговоры, подмены
                    </h4>
                    <time class="stories__date" datetime="2018-02-01 17:22">
                        01.02.2018 
                    </time>
                </div>
    
            </div><!--stories-->

        </div><!--blog__wrapper-->
    </div><!--container-->
</section>


