<section class="rubrics" id="rubrics">
    <div class="container">
        <div class="rubrics__wrapper">

            <a href="biography.html" class="rubrics__item">
                <div class="rubrics__info">
                    <h3 class="rubrics__title">
                        Биографии
                    </h3>
                   <span class="rubrics__text btn">
                       Перейти
                    </span>
                </div>
                <div class="rubrics__img">
                    <img src="assets/img/rubrics/olga.jpg" alt="events">
                </div>
            </a>

            <a href="periods.html" class="rubrics__item">
                <div class="rubrics__info">
                    <h3 class="rubrics__title">
                        Карты
                    </h3>
                   <span class="rubrics__text btn">
                       Перейти
                    </span>
                </div>
                <div class="rubrics__img">
                    <img src="assets/img/rubrics/maps.jpg" alt="events">
                </div>
            </a>

            <a href="dates.html" class="rubrics__item">
                <div class="rubrics__info">
                    <h3 class="rubrics__title">
                        Даты
                    </h3>
                   <span class="rubrics__text btn">
                       Перейти
                    </span>
                </div>
                <div class="rubrics__img">
                    <img src="assets/img/rubrics/date-2.jpg" alt="events">
                </div>
            </a>

            <a href="test.html" class="rubrics__item">
                <div class="rubrics__info">
                    <h3 class="rubrics__title">
                        Тесты
                    </h3>
                   <span class="rubrics__text btn">
                       Перейти
                    </span>
                </div>
                <div class="rubrics__img">
                    <img src="assets/img/rubrics/tests-all.jpg" alt="events">
                </div>
            </a>
        </div><!--rubrics__wrapper-->
    </div><!--container-->
</section>