<section class="slider" id="slider">
    <div class="container">
        <div class="slider__vector">
            <img class="slider__archer" src="assets/img/slider/archer.svg" alt="archer">
            <img class="slider__arrow" src="assets/img/icons/arrow.svg" alt="arrow">
        </div>
        
        <div class="slider__wrapper">
            <div class="slider__item">
                <div class="slider__text">
                    <h2 class="slider__title">
                        <a href="test.html" target="_blank" class="slider__link">
                            Проверь свои знания тестами и вопросами
                        </a>
                    </h2>
                </div>
                <div class="slider__img">
                    <img src="assets/img/slider/slide1.jpg" alt="">
                </div>
            </div>

             <div class="slider__item">
                <div class="slider__text">
                    <h2 class="slider__title">
                        <a href="quotes.html" target="_blank" class="slider__link">
                            Цитаты известных людей
                            
                        </a>
                    </h2>
                </div>
                <div class="slider__img">
                    <img src="assets/img/slider/slide2.jpg" alt="">
                </div>
            </div>

             <div class="slider__item">
                <div class="slider__text">
                    <h2 class="slider__title">
                        <a href="events.html" target="_blank" class="slider__link">
                            События в кратком или в развернутом изложении
                        </a>
                    </h2>
                </div>
                <div class="slider__img">
                    <img src="assets/img/slider/slide3.jpg" alt="">
                </div>
            </div>
        </div><!--slider__wrapper-->
    </div><!--/container-->
</section>