<section class="s-subscribe" id="subscribe">
    <div class="container">
        <div class="subscribe">    
            <h2 class="subscribe__title">
                Подпишитесь на новости
            </h2>
            <form action="/" class="subscribe__form">
                <input required type="email" name="email" class="subscribe__input" placeholder="E-mail">
                <button type="button" class="send-form subscribe__btn btn">Подписаться</button>
            </form>
        </div>
    </div>
</section>