.ie9 body {
  background-color: green;
}

// медизапрос специально для IE. Данные стили применяются только для IE

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .jsMobile .burger {
    padding-right: 60px;
  }
  .user-panel__btn {
    top: 51%;
    right: -22%;
  }
  .user-panel__inner {
    max-width: 360px;
  }
  .user-panel__btns-wrapper {
    justify-content: space-around;
  }
  .user-panel__close-btn.close-panel {
    pointer-events: initial;
  }
  .subscribe__btn {
    padding: 10px 0;
    right: 22%;
  }
  .info-option__title {
    right: 0;
  }
  .info-option__img {
    max-width: 70px;
  }
  .slider__img {
    max-width: 640px;
  }
  .slider__title {
    padding: 0;
    margin-right: 40px;
  }
  .stories {
    max-width: 580px;
  }
  .sub-menu.second.sub-menu_date {
    right: -169px;
  }
  .quotes-content__title {
    background-color: rgba(255, 255, 255, 0.58);
  }
}
