// colors

$color1: #000; // черный цвет
$color2: #fff; // белый цвет

// header
$color3: #418585; // цвет фона для формы в хедере
$color4: #fb3535; // Цвет фона для меню в хедере
$color5: #ff6060; // цвет ховера у ссылок в хедере

$color6: #2b78bb; // цвет кнопки в aside
$color7: #d9effb; // цвет кнопок город и аватар

$color8: #ecf3f8; // цвет фона для текста в слайдере

$color9: #2c3038; // цвет текста в секции рубрики
$color10: #2b78bb; // цвет кнопки в рубрике

$color11: #2c3038; // цвет текста в постах
$color12: #a90028; // цвет текста для спойлеров

$color13: #ecf3f8; // цвет фона секции subscribe

$color14: #215d92; // цвет для футера
$color15: #dbd80b; // цвет ховера у ссылок в футере

$color16: #fcaf1a; // цвет подложки герба в секции biography rurik
$color17: #f05149; // цвет подложки герба в секции biography romanov
$color18: #6badbb; // цвет подложки герба в секции biography world history

$color19: #a90028; // цвет табов я секции single biography

$color20: rgb(155 237 161 / 64%); // цвет фона в шпаргалках

$color21: #265e13; // Цвет кнопок в цитатах quotes
$color22: #f5f0f0ad; // цвет фона цитаты

$color23: #828282; // серый цвет для time в посте

$color24: rgb(113 121 165); // цвет бордер в тестах

// z index
